/* ConsultancyServices.css */

.consultancy-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  font-family: "Poppins", sans-serif;
  background-color: #f4f4f4;
  text-align: center;
}

.image-container {
  margin-bottom: 20px;
  animation: fadeIn 1.5s ease-in-out;
}

.image {
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.image.zoom-in:hover {
  transform: scale(1.05);
}

.info-container {
  max-width: 800px;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  animation: slideUp 1s ease-in-out;
}

.title {
  font-size: 2.5em;
  color: #2c3e50;
  margin-bottom: 15px;
}

.description {
  font-size: 1.2em;
  color: #555;
  margin-bottom: 15px;
}

.list {
  font-size: 1.1em;
  color: #333;
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 15px;
  text-align: left;
}

.additional-info {
  font-size: 1.2em;
  color: #2c3e50;
  font-style: italic;
  margin-top: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
