.container {
    display: flex;
    font-family:"Poppins",sans-serif;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
  }
  
  .image-container {
    flex: 1;
    text-align: center;
  }
  
  .image {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .info-container {
    flex: 1;
    padding: 20px;
    /* font-family:"Poppins",sans-serif; */
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  .description {
    font-size: 16px;
    color: #555;
    margin-bottom: 15px;
  }
  
  .list {
    font-size: 16px;
    color: #555;
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 15px;
  }
  
  .additional-info {
    font-size: 16px;
    color: #333;
    font-style: italic;
    margin-top: 10px;
  }
  