/* General Header Styling */
.header {
  background: linear-gradient(40deg, #004D9B, #00A84D); /* Gradient accent bar */
  color: white;
  padding: 10px 20px;
  display: flex;
  font-family:"Poppins",sans-serif;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.logo img {
  height: 50px;
  width: auto;
}

.nav-links ul {
  list-style: none;
  display: flex;
  
  /* padding: 1rem; */
}

.nav-links ul li {
  margin: 0 10px;
  margin-left: 1.5rem;
  margin-right: 1.2rem;
}

.nav-links ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-links ul li a:hover {
  color: #01a74d; /* Highlight color */
}

/* Get Quote Button Styling */
.quote-button {
  margin-left: 20px;
}

.get-quote-btn {
  background-color: #f3a909;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.get-quote-btn:hover {
  background-color: #004D9B; /* Hover effect */
}

/* Dropdown styling */
.dropdown {
  position: relative;
 
}

.dropdown-toggle {
  cursor: pointer;
  text-decoration: none;
  color: #f9f9f9;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 1rem;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.dropdown-item {
  margin: 10px 5px;
}

.dropdown-item a {
  color: #333;
  text-decoration: none;
  font-size: 14px;
}

.dropdown-item a:hover {
  color: #00796b;
}

/* Dropdown menu visibility when open */
.dropdown .dropdown-menu {
  display: block;
}
